<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Detalle Envío')"></head>

<div th:replace="NavMenu"></div>

<body>

<div class="container-fluid ml-3">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Envío ' + ${envio.id}"></h2>
        </div>
    </div>

    <div th:if="${'webmaster'.equals(usuario.getRol().getNombre()) && asignarRepartidor != null}">
        <form method="post" th:action="@{/envios/{id}/repartidor(id=${envio.id})}" th:object="${asignarRepartidor}">
            <div class="row ml-1 mt-3">
                <div class="form-group">
                    <input id="nombre" class="form-control" name="nombre" placeholder="Nombre" type="text" th:field="*{nombre}" required style="height: 38px; width: 300px;" autocomplete="off" oninput="buscarRepartidores(this.value)"/>
                    <div id="sugerencias" class="sugerencias"></div>
                </div>
                <button type="submit" class="ml-3 btn btn-primary" style="height: 38px;">Asignar repartidor</button>
            </div>
        </form>
    </div>

    <div class="col-6">
        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
    </div>

    <div th:if="${repartidor != null}" class="row mt-3 col">
        <ul style="list-style: none; padding: 0;">
            <li th:if="${'webmaster'.equals(usuario.getRol().getNombre()) || 'tienda'.equals(usuario.getRol().getNombre())}">
                <h2 th:text="'Repartidor asignado: ' + ${repartidor}"></h2>
            </li>
            <li th:if="${'webmaster'.equals(usuario.getRol().getNombre())}">
                <a class="btn btn-danger" th:href="@{'/envios/' + ${envio.id} + '/desasignar'}">Desasignar repartidor</a>
            </li>
        </ul>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>Datos generales</h3>
            <ul style="list-style: none; padding: 0;">
                <li><strong>Id:</strong> <span th:text="${envio.id}"></span></li>
                <li><strong>Código:</strong> <span th:text="${envio.codigo}"></span></li>
                <li><strong>Peso:</strong> <span th:text="${envio.peso}"></span></li>
                <li th:if="${'webmaster'.equals(usuario.getRol().getNombre()) || 'tienda'.equals(usuario.getRol().getNombre())}"><strong>Precio:</strong> <span th:text="${envio.precio}"></span></li>
                <li><strong>Tarifas:</strong> <span th:text="${tarifas}"></span></li>
                <li><strong>Observaciones:</strong> <span th:text="${envio.observaciones}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Dirección de origen</h3>
            <ul style="list-style: none; padding: 0;">
                <li><strong>Código postal:</strong> <span th:text="${direccionOrigen.codigoPostal}"></span></li>
                <li><strong>Provincia:</strong> <span th:text="${direccionOrigen.provincia}"></span></li>
                <li><strong>Localidad:</strong> <span th:text="${direccionOrigen.localidad}"></span></li>
                <li><strong>Calle:</strong> <span th:text="${direccionOrigen.calle}"></span></li>
                <li><strong>Número:</strong> <span th:text="${direccionOrigen.numero}"></span></li>
                <li><strong>Planta:</strong> <span th:text="${direccionOrigen.planta}"></span></li>
                <li><strong>Nombre:</strong> <span th:text="${direccionOrigen.nombre}"></span></li>
                <li><strong>Teléfono:</strong> <span th:text="${direccionOrigen.telefono}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Dirección de destino</h3>
            <ul style="list-style: none; padding: 0;">
                <li><strong>Código postal:</strong> <span th:text="${direccionDestino.codigoPostal}"></span></li>
                <li><strong>Provincia:</strong> <span th:text="${direccionDestino.provincia}"></span></li>
                <li><strong>Localidad:</strong> <span th:text="${direccionDestino.localidad}"></span></li>
                <li><strong>Calle:</strong> <span th:text="${direccionDestino.calle}"></span></li>
                <li><strong>Número:</strong> <span th:text="${direccionDestino.numero}"></span></li>
                <li><strong>Planta:</strong> <span th:text="${direccionDestino.planta}"></span></li>
                <li><strong>Nombre:</strong> <span th:text="${direccionDestino.nombre}"></span></li>
                <li><strong>Teléfono:</strong> <span th:text="${direccionDestino.telefono}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Historico estados</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="estado : ${historico}">
                    <td th:text="${estado.getEstado()}"></td>
                    <td th:text="${#strings.substring(estado.getFecha(), 8, 10) + '-' + #strings.substring(estado.getFecha(), 5, 7) + '-' + #strings.substring(estado.getFecha(), 0, 4) + ' ' + #strings.substring(estado.getFecha(), 11, 16)}"></td>
                    <td th:text="${estado.getObservaciones()}"></td>
                </tr>
                </tbody>
            </table>

            <div th:if="${'tienda'.equals(usuario.getRol().getNombre()) || 'webmaster'.equals(usuario.getRol().getNombre())}">
                <a th:if="${estadoActual.getEstado().getId() == 1}" class="btn btn-danger" th:href="@{'/envios/' + ${envio.id} + '/cancelar'}">Cancelar envío</a>
            </div>


            <div th:if="${'repartidor'.equals(usuario.getRol().getNombre())}">
                <div th:if="${estadoActual.getEstado().getId() == 1 || estadoActual.getEstado().getId() == 2 || estadoActual.getEstado().getId() == 3 || estadoActual.getEstado().getId() == 4}">
                    <form method="post" th:action="@{/envios/{id}/avanzarEstado(id=${envio.id})}" th:object="${avanzarEstado}">
                        <div class="row ml-1 mt-3">
                            <div class="form-group">
                                <input id="observaciones" class="form-control" name="observaciones" placeholder="Observaciones" type="text" th:field="*{observaciones}" style="height: 38px; width: 300px;"/>
                            </div>
                            <button th:if="${estadoActual.getEstado().getId() == 1}" type="submit" class="ml-3 btn btn-success" style="height: 38px;">Marcar como Recogido</button>
                            <button th:if="${estadoActual.getEstado().getId() == 2 || estadoActual.getEstado().getId() == 3}" type="submit" class="ml-3 btn btn-success" style="height: 38px;">Marcar como En reparto</button>
                            <div class="d-flex" th:if="${estadoActual.getEstado().getId() == 4}">
                                <button type="submit" class="ml-3 btn btn-success" style="height: 38px;">Marcar como Entregado</button>
                                <button type="button" class="ml-3 btn btn-danger" style="height: 38px;" th:onClick="'callPut(\'/envios/' + ${envio.id} + '/rechazado\')'">Marcar como Rechazado</button>
                                <button type="button" class="ml-3 btn btn-warning" style="height: 38px;" th:onClick="'callPut(\'/envios/' + ${envio.id} + '/ausente\')'">Marcar como Ausente</button>
                            </div>
                        </div>
                    </form>
                </div>
                <button th:if="${estadoActual.getEstado().getId() != 1 && estadoActual.getEstado().getId() != 7}" class="btn btn-danger" style="height: 38px;" th:onClick="'callPut(\'/envios/' + ${envio.id} + '/deshacer\')'">Deshacer ultimo cambio</button>
            </div>
        </div>
    </div>
    <div class="pt-3 pl-3">
        <a class="btn btn-primary" th:href="@{/envios}">Volver</a>
    </div>
</div>

<div th:replace="fragments::javascript"/>

<script th:inline="javascript">
    function buscarRepartidores(nombre) {
        if (nombre.length >= 1) {
            $.get("/buscarRepartidores?nombre=" + nombre, function (data) {
                mostrarSugerencias(data);
            });
        } else {
            limpiarSugerencias();
        }
    }

    function mostrarSugerencias(sugerencias) {
        var sugerenciasDiv = document.getElementById("sugerencias");
        sugerenciasDiv.innerHTML = sugerencias.join('');
        sugerenciasDiv.style.display = "block";

        var sugerenciaItems = sugerenciasDiv.getElementsByClassName("sugerencia-item");
        for (var i = 0; i < sugerenciaItems.length; i++) {
            sugerenciaItems[i].addEventListener("click", function () {
                document.getElementById("nombre").value = this.innerText;
                limpiarSugerencias();
            });
        }
    }

    function limpiarSugerencias() {
        var sugerenciasDiv = document.getElementById("sugerencias");
        sugerenciasDiv.innerHTML = "";
        sugerenciasDiv.style.display = "none";
    }

    function callPut(url){
        console.log(url);
        fetch(url, {
            method: 'PUT'
        }).then((res) => location.reload());
    }
</script>

</body>

</html>

<style>
    body {
        overflow-x: hidden;
    }
</style>