<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Detalle Envío')"></head>

<body>
<!-- <div th:replace="fragments :: navbar"></div> -->
<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Envío ' + ${envio.id}"></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Datos generales</h3>
            <ul>
                <li><strong>Id:</strong> <span th:text="${envio.id}"></span></li>
                <li><strong>Peso:</strong> <span th:text="${envio.peso}"></span></li>
                <li><strong>Precio:</strong> <span th:text="${envio.precio}"></span></li>
                <li><strong>Tarifas:</strong> <span th:text="${tarifas}"></span></li>
                <li><strong>Observaciones:</strong> <span th:text="${envio.observaciones}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Dirección de origen</h3>
            <ul>
                <li><strong>Código postal:</strong> <span th:text="${envio.direccionOrigen.codigoPostal}"></span></li>
                <li><strong>Provincia:</strong> <span th:text="${envio.direccionOrigen.provincia}"></span></li>
                <li><strong>Localidad:</strong> <span th:text="${envio.direccionOrigen.localidad}"></span></li>
                <li><strong>Calle:</strong> <span th:text="${envio.direccionOrigen.calle}"></span></li>
                <li><strong>Número:</strong> <span th:text="${envio.direccionOrigen.numero}"></span></li>
                <li><strong>Planta:</strong> <span th:text="${envio.direccionOrigen.planta}"></span></li>
                <li><strong>Nombre:</strong> <span th:text="${envio.direccionOrigen.nombre}"></span></li>
                <li><strong>Teléfono:</strong> <span th:text="${envio.direccionOrigen.telefono}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Dirección de destino</h3>
            <ul>
                <li><strong>Código postal:</strong> <span th:text="${envio.direccionDestino.codigoPostal}"></span></li>
                <li><strong>Provincia:</strong> <span th:text="${envio.direccionDestino.provincia}"></span></li>
                <li><strong>Localidad:</strong> <span th:text="${envio.direccionDestino.localidad}"></span></li>
                <li><strong>Calle:</strong> <span th:text="${envio.direccionDestino.calle}"></span></li>
                <li><strong>Número:</strong> <span th:text="${envio.direccionDestino.numero}"></span></li>
                <li><strong>Planta:</strong> <span th:text="${envio.direccionDestino.planta}"></span></li>
                <li><strong>Nombre:</strong> <span th:text="${envio.direccionDestino.nombre}"></span></li>
                <li><strong>Teléfono:</strong> <span th:text="${envio.direccionDestino.telefono}"></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="pt-3 pl-3">
    <a class="btn btn-primary" th:href="@{/envios}">Volver</a>
</div>
</div>



<div th:replace="fragments::javascript"/>

</body>
</html>