<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Detalle tienda')"></head>

<div th:replace="NavMenu"></div>

<body>
<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="${tienda.nombre}"></h2>
        </div>
    </div>

    <br>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">ID: </div>
        <div th:text="${tienda.id}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Email: </div>
        <div th:text="${tienda.email}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Nombre: </div>
        <div th:text="${tienda.nombre}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Teléfono: </div>
        <div th:text="${tienda.telefono}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">API KEY: </div>
        <div th:text="${tienda.APIKey}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Código Postal: </div>
        <div th:text="${tienda.direccion.codigoPostal}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Localidad: </div>
        <div th:text="${tienda.direccion.localidad}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Provincia: </div>
        <div th:text="${tienda.direccion.provincia}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Calle: </div>
        <div th:text="${tienda.direccion.calle}"></div>
    </div>

    <div class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Número: </div>
        <div th:text="${tienda.direccion.numero}"></div>
    </div>

    <div th:if="${tienda.direccion.planta}!=0" class="d-flex justify-content-between pl-3 g-col-3" style="max-width: 400px;">
        <div style="font-weight: bold;">Planta: </div>
        <div th:text="${tienda.direccion.planta}"></div>
    </div>

    <br>

    <div class="row mt-3">
        <div class="col">
            <h3 class="text-danger" th:if="${envios.isEmpty()}"> Tienda sin envios </h3>
            <table class="table table-striped" th:if="${!envios.isEmpty()}">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Peso</th>
                    <th>Observaciones</th>
                    <th>Destino: CP</th>
                    <th>Destino: Calle</th>
                    <th th:if="${tienda.rol.nombre == 'webmaster' || tienda.rol.nombre == 'tienda'}">Precio</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="envio: ${envios}">
                    <td th:text="${envio.id}"></td>
                    <td th:text="${envio.peso}"></td>
                    <td th:text="${envio.observaciones}"></td>
                    <td th:text="${direcciones.get(envio.getId()).codigoPostal}"></td>
                    <td th:text="${direcciones.get(envio.getId()).calle}"></td>
                    <td th:if="${tienda.rol.nombre == 'webmaster' || tienda.rol.nombre == 'tienda'}" th:text="${envio.precio}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="'/envios/' + ${envio.id}">Gestionar/Ver detalles</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a class="btn btn-danger" href="/tiendas">Volver</a>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>